<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="LogglyAppender" />
		</root>
		<appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
			<rootUrl value="https://logs-01.loggly.com/" />
			<customerToken value="74af791e-ac73-4202-ad5c-65a48cb25857" />
			<tag value="TestPoint.API" />
		</appender>
	</log4net>
</configuration>