<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>

		<root>
			<level value="ALL" />
			<appender-ref ref="LogglyAppender" />
			<appender-ref ref="FileAppender" />
		</root>

		<appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
			<rootUrl value="https://logs-01.loggly.com/" />
			<customerToken value="74af791e-ac73-4202-ad5c-65a48cb25857" />
			<tag value="TestPoint.API" />
		</appender>

		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log\logs.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="1000" />
			<maximumFileSize value="50MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline%exception" />
			</layout>
		</appender>

	</log4net>
</configuration>